body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

header {
  text-align: center;
  padding: 40px;
  background-color: #2e343a;
  color: rgb(255, 255, 255);
}

/* Menu setup */
.menu {
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  z-index: 100;
}

/* Button setup */
.menu button {
  padding: 8px 14px;
  margin: 0 10px;
  border: none;
  border-radius: 6px;
  background-color: #e9e9e9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover {
  background-color: #ddd;
}

/* Main section */
.container {
  margin: 0 auto;
  padding: 5%;
}

.section {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Add grid to adjust the section layout */
.content {
  display: grid;
  /* 2 columns in 1 row -> 50% 50% -> 口 口 */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

/* change A3 section layout -> no image for A3 so i change the layout */
.content1 {
  display: grid;
  /* 1 columns in 1 row -> 100% -> 口 */
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: start;
}

/* Image part */
.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

/* Description setup */
.description {
  padding: 1rem;
}

.description h3 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}

/* Media Query ...*/
/* The size of sketches cannot automatically be adjusted, 
I think it's because the canvas was fixed -> createCanvas(600, 400) */
@media (max-width: 768px) {
  .project-content {
      grid-template-columns: 1fr;
  }
  
  .menu button {
      margin-bottom: 0.5rem;
  }
}